.contain-profile {
  width: 480px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 20px;

  &__cont-profile {
    width: 480px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    &__profile {
      width: 240px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h1 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
        color: (--four-color-light);
        text-align: left;
      }
      h3 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #0079ff;
        padding-bottom: 16px;
      }
    }
    &__date {
      width: 166px;
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 48px;
      margin-top: 52px;

      h4 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        color: #697c9a;
      }
    }
  }

  &__biography {
    width: 480px;
    height: 50px;

    h4 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      /* identical to box height, or 167% */
      color: #4b6a9b;
      mix-blend-mode: normal;
      opacity: 0.75;
      text-align: left;
    }
  }

  &--dark {
    h1 {
      color: white;
    }
    h4 {
      color: #ffffff;
    }
  }
}
