.contain-profile {
  width: 480px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 20px;

  &__cont-profile {
    width: 480px;
    height: 105px;
    display: flex;
    justify-content: space-between;
    .contain-profile__profile {
      width: 240px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      h1 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 39px;
        /* identical to box height */
        color: #2b3442;
        text-align: left;
      }
      h3 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */
        color: #0079ff;
        margin-bottom: 20px;
      }
    }

    .contain-profile__date {
      width: 166px;
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 25px;
      margin-top: 20px;

      h4 {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        color: #697c9a;
      }
    }
  }
  &__biography {
    width: 480px;
    height: 100px;

    h2 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: #4b6a9b;
      text-align: left;
      mix-blend-mode: normal;
      opacity: 0.75;
    }
  }
  &--dark {
    .contain-profile__profile {
      h1 {
        color: white;
      }
    }
    .contain-profile__date {
      h4 {
        color: white;
      }
    }
    &__biography {
      h2 {
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .contain-profile {
    height: 178px;


    &__cont-profile {
      flex-direction: column;
      align-items: center;
     
      .contain-profile__profile {
     
  

        h3 {
          font-family: "Space Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height */
          color: #0079ff;
          margin-bottom: 4px;
        }
      }
  
    }
    .contain-profile__date {
      margin-right: 73px;
      margin-top: 0px;

    }
    &__biography {
      width: 480px;
      height: 100px;
      margin-top: 24px;
  
      
    }
  }
 

  
  
}
