.container-information{
width: 730px;
height: 419px;
background: #FEFEFE;
box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
border-radius: 15px;
border: none;
margin-top: 24px;
display: flex;
flex-direction: row;

&--dark{
    background: #1E2A47;

}
}