.search-prompt {
  width: 730px;
  height: 73px;
  display: flex;
  margin-top: 40px;

  &__container {
    width: 100%;
    height: 70px;
    position: relative;
  }

  &__container-input {
    width: 100%;
    height: 69px;
    background-color: var(--five-color-light);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    border: none;
    padding-left: 80px;
    font-family: 'Space Mono';
    font-size: 18px;
    line-height: 25px;
    color: #222731;

    &::placeholder {
      color: #4b6a9b;
    }

    &:focus {
      outline: none;
    }
  }

  &__container-button {
    width: 106px;
    height: 50px;
    background-color: var(--primary-color-light);
    border-radius: 10px;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: var(--secundary-color-dark);
    position: absolute;
    right: 20px;
    top: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__container-img {
    width: 24px;
    height: 26px;
    position: absolute;
    left: 32px;
    top: 22px;
    color: var(--primary-color-light);
  }

  &__error {
    position: absolute;
    right: 140px;
    top: 23px;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #f74646;
  }

  // === DARK MODE ===
  &--dark {
    .search-prompt__container-input {
      background-color: #1e2a47;
      color: white;

      &::placeholder {
        color: white;
      }

      &:focus {
        background-color: #1e2a47;
        color: white;
        outline: none;
      }
    }

    .search-prompt__container-button {
      background-color: var(--primary-color-dark);
    }

    .search-prompt__container-img {
      color: var(--primary-color-dark);
    }
    &__container-button {
      color: aliceblue;
    }
  }

  // === RESPONSIVE ===
  @media (max-width: 768px) {
    width: 573px;

    &__container {
      width: 100%;
    }

    &__container-input {
      width: 100%;
    }

    &__container-button {
      right: 16px;
    }

    &__container-img {
      left: 28px;
    }
  }

  @media (max-width: 400px) {
    width: 327px;

    &__container {
      width: 100%;
    }

    &__container-input {
      width: 100%;
      padding-left: 52px;

      &::placeholder {
        font-size: 13px;
      }
    }

    &__container-button {
      width: 84px;
      height: 46px;
      right: 12px;
      top: 12px;
    }

    &__container-img {
      left: 24px;
      top: 22px;
    }
  }
}
