.search-prompt {
  width: 730px;
  height: 73px;
  display: flex;

  margin-top: 40px;

  &__container {
    width: 730px;
    height: 70px;
    position: relative;
  }

  &__container-input {
    width: 730px;
    height: 69px;
    background-color: var(--five-color-light);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    left: 273px;
    border: none;
    padding-left: 80px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    color: #222731;
  }

  &__container-input::placeholder {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    color: #4b6a9b;
  }

  &__container-button {
    width: 106px;
    height: 50px;
    background-color: var(--primary-color-light);
    border-radius: 10px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: var(--secundary-color-dark);
    position: relative;
    left: 280px;
    bottom: 60px;
  }

  &__container-button:hover {
    cursor: pointer;
  }
  &__container-img {
    width: 24px;
    height: 26px;
    position: relative;
    right: 270px;
    bottom: 50px;

    color: var (--primary-color-light);
  }

  &--dark {
    &__container-input {
      background-color: #1e2a47;
      color: white;
    }

    &__container-input::placeholder {
      color: white;
    }
  }
  &__error {
    width: 92px;
    height: 22px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #f74646;

    position: absolute;
    left: 500px;
    top: 23px;
  }
}

@media (max-width: 768px) {
  /*Los estilos se aplican para pantallas de ancho menor o igual al especificado */

  .search-prompt {
    width: 573px;
    height: 69px;
    &__container {
      width: 573px;
      height: 69px;
      position: relative;
    }
    &__container-input {
      width: 573px;
      height: 69px;
    }
    &__container-button {
      width: 106px;
      height: 50px;
      left: 207px;
      bottom: 60px;
    }
    &__container-img {
      right: 194px;
      bottom: 51px;
    }

    &--dark {
      &__container-input {
        background-color: #1e2a47;
        color: white;
      }
  
      &__container-input::placeholder {
        color: white;
      }
    }
   
  }
}

@media (max-width: 400px) {
  /*Los estilos se aplican para pantallas de ancho menor o igual al especificado */
  .search-prompt{
 width: 327px;

margin-top: 30px;

&__container {
  width: 327px;
  height: 69px;
  position: relative;
}
&__container-input {
  width: 327px;
  height: 69px;
  padding-left: 52px;
}
&__container-button {
  width: 84px;
  height: 46px;
  left: 102px;
  bottom: 58px;
}
&__container-img {
  right: 90px;
  bottom: 51px;
}
&__container-input::placeholder {
  
  font-size: 13px;
 

}
}
}

