.main-socialnetwork {
  width: 480px;
  height: 92px;
  background-color: #fefefe;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 35px;
  padding-top: 15px;

  &__info {
    width: 50%;
    height: 22px;
    display: flex;

    img {
      margin-right: 16px;
    }
    p {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #4b6a9b;
    }
    &:nth-child(1) {
      img {
        width: 14px;
        height: 18px;
      }
    }
    &:nth-child(2) {
      img {
        width: 20px;
        height: 16px;
      }
    }
    &:nth-child(3) {
      img {
        width: 19px;
        height: 19px;
      }
    }

    &:nth-child(4) {
      img {
        width: 20px;
        height: 19px;
      }
    }
    &__info:nth-child(2),
    &__info:nth-child(4) {
      padding-left: 36px;
    }
  }
  &--dark {
    background: #1e2a47;
    p {
      color: white;
    }
    img {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .main-socialnetwork {
    width: 429px;
    height: 64px;

    &__info {
      justify-content: flex-start;
      align-items: center;

      img {
        margin-right: 16px;
      }
      p {
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #4b6a9b;
      }
    }
    &__info:nth-child(2),
    &__info:nth-child(4) {
      padding-left: 82px;
    }
    &__info:nth-child(3),
    &__info:nth-child(4) {
      margin-top: 20px;
    }
  }
}
@media (max-width: 400px){
  .main-socialnetwork {
    width: 185px;
    height: 127px;
    margin: 0px;
    padding: 0px;
   
    align-items: flex-start;

    &__info {
      width: 137px;
      height: 20px;

     margin-bottom: 8px;
  
      img {
        margin-right: 16px;
      }
      p {
        font-weight: 400;
font-size: 13px;
line-height: 19px;
       
      }
      
    }
    &__info:nth-child(2),
    &__info:nth-child(4) {
      padding-left: 0px;
    }
    &__info:nth-child(3),
    &__info:nth-child(4) {
      margin-top: 0px;
    }
  }
}