.SearchInformation {
  width: 573px;
  height: 419px;
  display: flex;
  flex-direction: column;
 
}


@media (max-width: 768px) {
  .SearchInformation {
        width: 573px;
        height: 481px;

        align-items: center;
        &--dark{
            background: #1E2A47;
        
        }
    }


}
@media (max-width: 400px) {
  .SearchInformation {
        width: 327px;
        height:517px;
        justify-content: space-around;


  }

}