.Container-follSocial {
  width: 480px;
  height: 185px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .Container-follSocial {
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
}
@media (max-width: 400px) {
  /*Los estilos se aplican para pantallas de ancho menor o igual al especificado */
  .Container-follSocial {
    width: 279px;
    height: 235px;
    background: rosybrown;
    justify-content: space-around;
    align-items: center;
  }
}
